{% extends 'ClientGameBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Games <small></small></h1>
    </div>
    {% block games_content %}

    {% endblock %}
{% endblock %}