{% extends 'ClientGameBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Account<small></small></h1>
    </div>
    {% block user_content %}

    {% endblock %}
{% endblock %}