{% extends 'ClientGameBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Teams <small></small></h1>
    </div>
    {% block teams_content %}

    {% endblock %}
{% endblock %}